* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.chart {
	text-align: center;
	color: #FFF;
	background-color: #8bc34a;
}

svg.chart-container {
	width: 100%;
	margin-bottom: 10px;
}

svg.chart-container text {
	text-anchor:middle;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar-chart {
	color: #fff;
	border: 1px solid #000;
	border-width: 0 0 1px 1px;
	padding: 2px;
}

.chart-green svg.chart-container {
	/*background-color: #8bc34a;*/
}
.chart-green svg.chart-container g,
.chart-green svg.chart-container path {
	fill:  #dcedc8;
}