* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
h2 {
	color: #7bb33a;
}

.charts {
	/*margin-bottom: 30px;*/
}
.chart {
	text-align: center;
	color: #FFF;
	background-color: #8bc34a;
    margin-bottom: 30px;
}

svg.chart-container {
	width: 100%;
	/*margin-bottom: 10px;*/
}

svg.chart-container text {
	text-anchor:middle;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar-chart {
	color: #fff;
	border: 1px solid #000;
	border-width: 0 0 1px 1px;
	padding: 2px;
}

.chart-green svg.chart-container {
	/*background-color: #8bc34a;*/
}
.chart-green svg g,
.chart-green svg path {
	fill:  #dcedc8;
}

.card-title {
    text-align: center;
    color: #dcedc8;
    background-color: #7bb33a;
}

.card-title h3 {
    margin: 15px 0;
}

svg.pie-chart .chart-value {
    fill: #7bb33a;
    text-shadow: none;
    font-weight: bold;
}

svg text.chart-value {
    /*font-size: 1.2em;*/
}